/* Hero section */
body {
  font-family: 'ProximaNova-Regular', sans-serif;
}
#hero {
  height: 700px;
  min-height: 90vh;
}
.img-cover {
  background-size: cover;
  background-position: center center;
}
.navbar-nav .nav-item .nav-link {
  font-size: 20px;
  color: #fff;
  font-family: 'ProximaNova-Regular', sans-serif;
}
.navbar-nav .nav-item .nav-link:hover {
  color: #fff;
  text-decoration: underline;
}
.cta-form {
  background-color: rgba(255, 255, 255, 0.8);
  border: solid 1px #d4d4d4;
  padding: 50px;
}
#hero h1 {
  color: #fff;
  font-size: 60px;
  font-family: 'LucidaGrande', sans-serif;
  font-weight: 600;
}
/* End Hero section */
/* About Me section */
.subheading-underline {
  width: 40px;
  height: 3px;
  background-color: #f5f5f5;
}
.section-subtitle {
  font-size: 25px;
}
/* End About Me section */
.text-proxima {
  font-family: 'ProximaNova', sans-serif;
}
.text-lucida {
  font-family: 'Lucida Grande', sans-serif;
}
.text-20 {
  font-size: 20px;
}
.text-18 {
  font-size: 18px;
}
.text-bold {
  font-weight: bold;
}
.text-subheading {
  font-size: 40px;
}
.flex-no-shrink {
  flex-shrink: 0;
}

/* Testimonials section */
#testimonials {
  background-color: rgba(80, 204, 200, 0.05);
}
#testimonials .carousel:before {
  content: url(../images/quotes.svg);
  position: absolute;
  top: -30px;
  left: 10px;
  z-index: 1;
}
#testimonials .carousel-control-prev-icon,
#testimonials .carousel-control-next-icon {
  width: auto;
  height: auto;
}
#testimonials .carousel-control-next-icon img {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
#testimonials .testimonial-text {
  font-family: 'ProximaNova-Regular', sans-serif;
  font-size: 25px;
  color: #333333;
}
#testimonials .carousel-indicators {
  bottom: -120px;
}
#testimonials .carousel-indicators li {
  height: auto;
  text-indent: initial;
  width: auto;
  border: 5px solid rgba(80, 204, 200, 0.05);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
#testimonials .carousel-indicators li.active {
  border-color: #e7bfc1;
}
#testimonials .carousel-item-content {
  max-width: 70%;
  min-height: 300px;
}
/* End Testimonials section */
