/* Hero section */
body {
  font-family: 'Open Sans', sans-serif;
}
/* ======================================
* Header Navigation
====================================== */
.navbar-nav .nav-item .nav-link {
  position: relative;
  font-size: 20px;
  color: #fff;
}
.navbar-nav .nav-item .nav-link:hover {
  color: #fff;
  text-decoration: none;
}
.site-header {
  transition: all 0.2s ease-in-out;
}
.site-header.scrolling {
  background-color: #fff;
  box-shadow: 0 0 10px 2px rgba(0,0,0, 0.1);
}
.site-header.scrolling .navbar-nav .nav-item .nav-link {
  color: initial;
}
@media (max-width: 574px) {
  .logo-desktop {
    display: none;
  }
}
@media (min-width: 575px) {
  .site-header .logo-black {
    display: none;
  }
  .site-header.scrolling .logo-inverse {
    display: none;
  }
  .site-header.scrolling .logo-black {
    display: block;
  }
}
.site-header.scrolling .logo-mobile path {
  fill: #000;
}
.navbar-nav .nav-item .nav-link:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  transition: all 0.25s ease;
  background-color: #ef5f30;
}
.navbar-nav .nav-item .nav-link.active:before,
.navbar-nav .nav-item .nav-link:hover:before {
  width: 100%;
}
.logo-mobile path {
  fill: #fff;
}
/* ======================================
* End Header Navigation
====================================== */
#hero {
  height: 700px;
  min-height: 90vh;
}
.img-cover {
  background-size: cover;
  background-position: center center;
}
.cta-form {
  background-color: rgba(255, 255, 255, 0.8);
  border: solid 1px #d4d4d4;
  padding: 50px;
}
.btn-cta {
  color: #fff;
  border-radius: 25px;
  background-color: #ef5f30;
  border-color: #ef5f30;
  transition: all 0.2s ease-in-out;
}
.btn-cta:hover,
.btn-cta:focus {
  background-color: #da4f22;
  border-color: #da4f22;
  color: #fff;
}
#hero h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 600;
}
/* End Hero section */
/* About Me section */
.subheading-underline {
  width: 40px;
  height: 3px;
  background-color: #f5f5f5;
}
.section-subtitle {
  font-size: 25px;
}
@media (min-width: 575px) {
  .chart-image-container {
    min-width: 300px;
  }
}
/* End About Me section */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.text-18 {
  font-size: 18px;
}
.text-20 {
  font-size: 20px;
}
.text-18 {
  font-size: 18px;
}
.text-bold {
  font-weight: bold;
}
.text-subheading {
  font-size: 40px;
}
.text-orange {
  color: #ef5f30;
}
.link-orange {
  text-decoration: none;
  color: #ef5f30;
}
.link-orange:hover {
  text-decoration: underline;
  color: #ef5f30;
}
.flex-no-shrink {
  flex-shrink: 0;
}
.bg-blue {
  background-color: rgba(80, 204, 200, 0.05);
}
/* Testimonials section */
#testimonials .carousel:before {
  content: url(../images/quotes.svg);
  position: absolute;
  top: -30px;
  left: 10px;
  z-index: 1;
}
#testimonials .carousel-control-prev-icon,
#testimonials .carousel-control-next-icon {
  width: auto;
  height: auto;
}
#testimonials .carousel-control-next-icon img {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
#testimonials .testimonial-text {
  font-size: 25px;
  color: #333333;
}
#testimonials .carousel-indicators {
  bottom: -120px;
}
#testimonials .carousel-indicators li {
  height: auto;
  text-indent: initial;
  width: auto;
  border: 5px solid rgba(80, 204, 200, 0.05);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
#testimonials .carousel-indicators li.active {
  border-color: #e7bfc1;
}
@media (min-width: 575px) {
  #testimonials .carousel-item-content {
    max-width: 70%;
    min-height: 300px;
  }
}
/* End Testimonials section */

/* ======================================
Resources section
====================================== */
#resources h4 a {
  color: #ef5f30;
  text-decoration: underline;
}
#resources h4 a:hover {
  text-decoration: none;
}
#resources p {
  color: #999999;
}
section .read-more-btn {
  border-radius: 25px;
  border: 2px solid #ef5f30;
  color: #ef5f30;
  max-width: 300px;
}
section .read-more-btn:hover {
  color: #ffffff;
  background-color: #ef5f30;
  border-color: #EF5F30;
}
section .read-more-btn svg {
  transition: all 0.2s ease;
}
section .read-more-btn:hover svg {
  transform: translate3d(10px,0,0);
}
section .read-more-btn svg path {
  fill: #EF5F30;
}
section .read-more-btn:hover svg path {
  fill: #ffffff;
}
/* ======================================
Blog section
====================================== */
#blog .img-container {
  overflow: hidden;
  cursor: pointer;
}
#blog .img-container:hover .image-caption {
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
}
#blog .image-caption {
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
  bottom: -10px;
  min-height: 110px;
  opacity: 0;
  transition: all .25s ease-in-out;
}
